<html>
<body>

<div>
</div>

<div>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>File to upload:</td>
                <td>
                    <input name="file" type="file"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Upload"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
    </ul>
</div>

</body>
</html>